/Reallyg5/nbproject/private/
/Reallyg5/build/
/g5_real/nbproject/private/
/Emprender/nbproject/private/
/Emprender/build/
/G5/nbproject/private/
/emprendimiento/nbproject/private/
/emprendimiento/build/
/CelReally/nbproject/private/
/CelReally/build/
/Emprendimiento/nbproject/private/
/Emprendimiento/build/
/Nuevo/nbproject/private/
/ReallyBeta/nbproject/private/
/ReallyBeta/build/